*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
}

.nav-items li {
    padding: 13px;
    font-size: 2rem;
}

.logo{
    width: 80px;
}



.card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.card:hover{
    
    
    box-shadow: 2px 2px 10px 5px grey;
}

.card img{
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title{
    font-size: 1.3rem;
    font-weight: 600;
}

.card-tags{
    font-size: .9rem;
    margin-top: 5px;
}

.card .card-footer{
    margin-top: 2rem;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-rating{
    border: 1px solid rgb(241, 191, 84);
    display: inline;
    padding: 2px 10px ;
    background-color: rgb(241, 191, 84);
    font-weight: bold;
}

.costfortwo{
    font-size: .7rem;
}
.footer {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 2rem;
}


.title-btn{
    width: 100px;
    height: auto;
    background-color: black;
    color: antiquewhite;
}





























